{% if attachements.length > 0 %}
  <ul class="list-inline center-block text-center">
    {% for attachement in attachements %}
      <li><a href="{{ attachement.file.file.url }}">{{ attachement.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
