{% if eMail %}
  <div class="row marketing">
    <div class="col-md-12 text-center">
      <a href="mailto:{{ eMail.eMail }}">
        <img src="{{ eMail.icon.file.url }}" alt="" height="64" width="64" />
        {{ eMail.eMail }}
      </a>
    </div>
  </div>
{% endif %}
