{% if user.eMail %}
  <div class="row marketing">
    <div class="col-md-12 text-center">
      <a href="mailto:{{ user.eMail.eMail }}">
        <img src="{{ user.eMail.icon.file.url }}" alt="" height="64" width="64" />
        {{ user.eMail.eMail }}
      </a>
    </div>
  </div>
{% endif %}
