{% if user.jobinterests.length > 0 %}
  <div class="row marketing">
    {% set columns = 12 / user.jobinterests.length %}
    {% for jobinterest in user.jobinterests %}
      <div class="col-md-{{ columns }}">
        <h4 class="text-center">{{ jobinterest.title }}</h4>
        <p class="text-justify">{{ jobinterest.description|markdown }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
