{% if links.length > 0 %}
  <div class="row marketing">
    {% set columns = 12 / links.length %}
    {% for link in links %}
      <div class="col-xs-{{ columns }} text-center">
        <a href="{{ link.url }}">
          <img src="{{ link.icon.file.url }}" alt="" height="64" width="64" />
          {{ link.title }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
