<div class="row">
  <div class="col-md-4">
    <img src="img/portrait.jpeg" alt="" class="img-responsive">
  </div>
  <div class="col-md-8">
    <p><strong>{{ job }}</strong></p>
    <p><strong>{{ company }}</strong>, {{ location }}</p>
    <blockquote>
      <p>{{ blockquote }}</p>
    </blockquote>
  </div>
</div>
