<div class="container">
  {% include "./widgets/header.html.twig" %}
  {% include "./widgets/overview.html.twig" %}
  {% include "./widgets/jobinterests.html.twig" %}
  {% include "./widgets/references.html.twig" %}
  {% include "./widgets/email.html.twig" %}
  {% include "./widgets/links.html.twig" %}
  {% include "./widgets/attachements.html.twig" %}
</div>
