<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ firstname }} {{ lastname }}</title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="jumbotron-narrow.css" rel="stylesheet">
  <link href="jumbotron-narrow-fix.css" rel="stylesheet">
</head>
<body>
<div class="container">
  {% include "./widgets/header.html.twig" %}
  {% include "./widgets/overview.html.twig" %}
</div>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
